/* Global */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --main_color: linear-gradient(90deg, rgba(58,54,117,1) 0%, rgba(43,96,162,1) 39%, rgba(0,212,255,1) 100%);
    --navbar_background: #F7F7F7;
    --white: white;
    --navbar_titles: #696969;
    --main_content_titles: #616161;
    --main_content_border: #e2e2e2;
    --placeholders: rgb(163, 163, 163);
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* General Style */
.flex {
    display: flex;
}

.pointer {
    cursor: pointer;
}

.grid {
    display: grid;
}

/* Layout */
.container {
    grid-auto-columns: 1fr; 
    grid-template-columns: 0.5fr 1.6fr;
    grid-template-rows: 0.2fr 1.8fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "main_header_section main_header_section"
      ". ."; 
    margin: 0;
    height: 100vh;
}

.icon_text_center {
    align-items: center;
    gap: 6px;
}

.interactive_icons:hover {
    scale: 1.2;
}

.current_option:hover {
    box-shadow: inset 0 -8em 0 0 #F7F7F7;
    transition: .3s;
}


/* Main Header */
.main_header_section { 
    grid-area: main_header_section;
    align-items: center;
    gap: 0.5em;
    background: rgb(58,54,117);
    background: var(--main_color);
    color: white;
    padding-left: 20px;
}

.main_header_section_icon {
    display: inline-flex;
    align-self: center;
}

.main_header_main_title {
    font-size: 2rem;
    color: var(--white);
}



/* Left Side Navbar */

.left_side_navbar_section {
    background-color: var(--navbar_background);
    padding: 30px 20px ;
    max-width: 350px;
    height: 100%;
    overflow: auto;
    color: var(--navbar_titles);
}

.left_side_navbar_list_all_titles {
    padding: 0.1em 0.5em;
    max-height: 3em;
}

.left_side_navbar_task_title {
    font-size: 1.2rem;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 80%;
    padding: 0.7em 0;
}

.left_side_navbar_first_list, .left_side_navbar_second_list {
    padding-left: 0;
    flex-direction: column;
    gap: 1em;
}

.left_side_navbar_lists_container {
    gap: 1em;
    flex-direction: column;
    display: flex;
}

.left_side_navbar_list_titles {
    background-color: var(--white);
    color: var(--navbar_titles);
    border: 0.1px solid var(--white);
}

.left_side_navbar_list_titles:hover {
    border: 0.1px solid var(--navbar_titles);
}

.left_side_navbar_first_list_main_title, .left_side_navbar_second_list_main_title {
    margin: 0;
}

.left_side_navbar_first_list_main_title_container, .left_side_navbar_second_list_main_title_container {
    padding-bottom: 0.5em;
    border-bottom: 1px solid var(--navbar_titles);
    justify-content: space-between;
}

        /* First List Left Side Navbar */

.left_side_navbar_first_list {
    margin: 1px;
}

.left_side_navbar_first_list_titles {
    width: 100%;
}

            /* Modal Design*/

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.25);
}

.add_new_edit_dialog{
    padding: 0;
    border: none;
    border-radius: calc(5px * 3.74);
}

.add_new_edit_dialog_container {
    flex-direction: column;
    border-radius: calc(5px * 3.74);
    box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    padding: 0;
    min-width: 36em;
    background-color: var(--navbar_background);
    color: var(--navbar_titles);
}

.add_new_edit_dialog_main_title_container {
    color: var(--white);
    background: var(--main_color);
    padding: 0.7em;
    text-align: center;
}

            /* Modal to Add/Edit a New Task */

.add_new_edit_todo_task_dialog_input_area {
    padding: 1em 2em;
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(6, 1fr); 
    gap: 0px 0px;
}

.add_new_edit_todo_task_input_label_container {
    align-items: center;
    margin-bottom: 0.5em;
}

.add_new_edit_todo_task_input_label {
    width: 100%;
    font-size: 1.3rem;
}

.add_new_edit_todo_task_input {
    font-size: 1rem;
    width: 100%;
    height: 70%;
    color: var(--navbar_titles);
    padding-left: 1em;
    border: none;
}

.add_new_edit_todo_task_input::placeholder {
    color: var(--placeholders);
}

.add_new_edit_todo_task_input_due_date {
    padding-left: 0.9em;
}

.add_new_edit_todo_task_input_project, .add_new_edit_todo_task_input_priority {
    padding-left: 0.8em;
}

.new_edit_create_btn {
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    justify-self: center;
    width: 50%;
    height: 75%;
    border-radius: 0.5em;
    background: var(--main_color);
    color: white;
    border: none;
    margin-top: 0.7em;
}

        /* Second List Left Side Navbar */

.left_side_navbar_second_list_container {
    margin: 3em 0;
}

.left_side_navbar_second_list {
    margin: 0;
}

.left_side_navbar_second_list_titles {
    justify-content: space-between;
}

.left_side_navbar_second_list_icons_container {
    align-items: baseline;
}

            /* Modal to Add a New Project */

.add_new_edit_project_content_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 0.5em 0 1em 0;
}

.add_new_edit_project_content {
    justify-self: center;
    padding: 1em 0;
}

.add_new_edit_project_title_container {
    gap: 1em;
    align-items: center;
}

.add_new_edit_project_title {
    font-size: 1rem;
    height: 3em;
    max-width: 11em;
    color: var(--navbar_titles);
    padding-left: 1em;
    border: none;
}

.add_new_edit_project_title::placeholder {
    color: var(--placeholders);
}

/* Main Content Section */

.main_content_section {
    padding: 13px 4em;
    overflow: auto;
    color: var(--main_content_titles);
}

.main_content_section_main_title_container {
    justify-content: center;
    font-size: 1.5rem;
    max-height: 3em;
}

    /* Main Content Section - Content  */

.main_content_section_task_title {
    margin: 0;
    padding-bottom: 10px;
    font-size: 1.5rem;
    border-bottom: 1px solid black;
}

.main_content_section_main_title_container_icon {
    scale: 1.4;
}

.main_content_section_task_container {
    flex-direction: column;
    gap: 1em;
    padding: 2em;
}

.main_content_section_task_list_container {
    flex-direction: column;
}

.main_content_section_individual_task {
    font-size: 1.1rem;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--main_content_border);
    padding: 0.5em;
}

.main_content_section_task_description_left {
    gap: 0.6em;
    width: 70%;
}

.main_content_section_task_description_text {
    width: 100%;
    padding: 0.6em 0;
}

.main_content_section_task_description_text_content {
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.main_content_section_task_description_right {
    align-items: center;
    gap: 1.5em;
    padding-right: 0.5em;
}

.main_content_section_task_description_right_icons {
    gap: 0.3em;
}



/* Main Footer TO_REMOVE_LATER */
.main_footer {
    display: flex;
    justify-content: center;
    text-align: center;
    position: fixed;
    bottom: 0;
    font-size: 2rem;
    width: 100%;
    min-height: 1em;
    border: 1px solid #ededed;
}